@import '../../../styles/variables'; // Import variables

.hero {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  .hero-image {
    max-width: 50%;
    border-radius: 0.5rem;
  }

  h1 {
    font-size: $font-size-xxxl;
    color: black;
    font-weight: bold;
    font-family: $font-family-primary;
    text-align: start;
  }

  p {
    font-size: $font-size-base;
    color: #0D171C;
    font-family: $font-family-primary;
    text-align: start;
  }

  button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: $color-btn-primary;
    font-family: $font-family-primary;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.challenge,
.how-it-works,
.benefits,
.about {
  padding: 2rem;
  text-align: center;

  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }

  p,
  li {
    font-size: 1.1rem;
    color: #666;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0.5rem 0;
    }
  }
}