@use "styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Snackbar mixin to reduce duplication
@mixin snackbar-theme($bg-color, $text-color, $button-color) {
  &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: $bg-color !important;
    color: $text-color !important;
  }

  &.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action {
    color: $button-color !important;
  }
}

//Snackbar styles (START)
.snackbar-success {
  @include snackbar-theme($color-success, white, white);
}

.snackbar-error {
  @include snackbar-theme($color-error, white, white);
}

.snackbar-warning {
  @include snackbar-theme(#f57f17, white, white);
}
//Snackbar styles (END)
